# ====================================================================
# MAVEN Y COMPILACIÓN
# ====================================================================

target/
build/
out/

*.class
*.log

# ====================================================================
# INTELLIJ IDEA
# ====================================================================

.idea/
*.iml
*.iws
*.ipr

# ====================================================================
# NETBEANS
# ====================================================================

nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# ====================================================================
# BASES DE DATOS LOCALES
# ====================================================================

*.db
*.sqlite
*.sqlite3

# ====================================================================
# VARIABLES DE ENTORNO
# ====================================================================

.env
.env.local

# ====================================================================
# WINDOWS
# ====================================================================

Thumbs.db
ehthumbs.db
Desktop.ini

# ====================================================================
# MACOS
# ====================================================================

.DS_Store
.AppleDouble
.LSOverride